.slider_value {
  width: 60px;
  padding: 0px;
  padding-right: 2px;
  margin-right: 0;
  margin-left: auto;

  text-align: right;

  box-shadow: none !important;

  border-radius: 4px;

  background-color: transparent !important;
}
