.FormSegmented {
  height: 100%;

  color: var(--cf-text);

  .ant-segmented-group {
    height: 100%;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;

    > label {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;

      .ant-segmented-item-label {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
      }
    }
  }
}
