.SecondConf {
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    height: max-content;
    max-height: 700px;
    padding: 20px 24px;
    overflow-y: auto;
    overflow-x: hidden;

    .icon {
      font-size: 50px;
      color: #ff9900;
    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      .title {
        font-size: 20px;
        font-weight: bold;
        color: var(--cf-text-2);
      }

      .text {
        font-size: 16px;
        color: var(--cf-text-3);
      }
    }
  }
}
