.Pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 8px;

  &.ant-pagination-start {
    justify-content: flex-start;
  }

  &.ant-pagination-center {
    justify-content: center;
  }

  &::after {
    content: none;
  }

  > li {
    > a {
      display: flex !important;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      .ant-pagination-item-container {
        width: 100%;

        .ant-pagination-item-ellipsis {
          width: 100%;
        }
      }
    }

    > button {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }

    &.ant-pagination-options {
      .ant-pagination-options-size-changer,
      .ant-pagination-options-quick-jumper {
        height: 100% !important;
      }

      .ant-pagination-options-size-changer {
        .ant-select-selector {
          height: 100% !important;

          .ant-select-selection-item {
            display: flex;
            align-items: center;

            line-height: normal !important;
          }
        }

        .ant-select-arrow {
          margin-top: 0px;

          transform: translateY(-50%);
        }
      }

      .ant-pagination-options-quick-jumper {
        display: inline-flex;
        align-items: center;

        input {
          height: 100% !important;
        }
      }
    }
  }

  &.bordered {
    > li {
      &:not(.ant-pagination-options):not(.ant-pagination-total-text) {
        border: 1px solid var(--cf-border);
        border-radius: 4px;
      }

      &.ant-pagination-item {
        margin: 0px 4px 0px 0px;

        &:not(.ant-pagination-item-active):not(
            .ant-pagination-item-disabled
          ):hover,
        &.ant-pagination-item-active {
          background-color: var(--primary-color, #1890ff);
          border-color: var(--primary-color, #1890ff);

          > a {
            color: #ffffff;
          }
        }

        &:not(.ant-pagination-item-active):not(.ant-pagination-item-disabled) {
          border-color: var(--cf-border);
        }

        &:not(.ant-pagination-item-active).ant-pagination-item-disabled {
          cursor: not-allowed;

          &:hover {
            background-color: transparent;
          }

          > a {
            color: var(--cf-text-3);

            cursor: not-allowed;
          }
        }
      }

      &.ant-pagination-prev {
        margin-right: 4px;
      }

      &.ant-pagination-options {
        margin-left: 4px;
      }

      &.ant-pagination-jump-next,
      &.ant-pagination-jump-prev {
        margin-right: 4px;
      }
    }
  }
}

.PaginationSimple {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;

  width: 100%;

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  .total {
    margin-inline-end: 8px;
  }

  .select {
    width: auto;
  }

  .prev,
  .next {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;

    height: 24px;
    padding: 0px 5px;

    border-radius: 6px;

    font-size: 12px;
    line-height: 16px;

    cursor: pointer;

    transition: all 0.3s;

    user-select: none;

    &:hover {
      background-color: var(--cf-subtle);
    }

    .icon {
      font-size: 18px;
    }

    &.disabled {
      opacity: 0.5;

      &:hover {
        background-color: transparent;
      }

      cursor: not-allowed;
    }
  }
}
