.expandBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  column-gap: 10px;

  .expandBtnItem {
    width: 100px;
    height: 32px;

    border-radius: 2px;
  }
}

