.RangePickerWrap {
  display: flex;
  align-items: center;
  column-gap: 5px;

  width: 100%;
  height: 100%;
}

.pickerSelect {
  width: 80px;
  min-width: 80px;
}

.RangePicker {
  width: 0;
  flex: 1;
  height: 100%;

  border-radius: 6px;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;

  .ant-picker-input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-align: inherit;

    input {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      text-align: inherit;
    }
  }
}

.rangePickerPopup {
  position: fixed;
}
