.button {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;

  height: 32px;
  padding: 0px 12px;

  font-size: 14px;
  font-weight: normal;

  .icon {
    font-size: 16px;

    svg {
      width: max-content;
      height: max-content;
    }
  }
}
